{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible" style="width: 100%">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="mt-1"> {{ message }}</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% if error %}
<div class="alert alert-danger alert-dismissible" style="width: 100%">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="mt-1">{{error}}</div>
</div>
{% endif %}

{% if msg %}
<div class="alert alert-success alert-dismissible" style="width: 100%">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="mt-1">{{msg}}
    </div>
</div>
{% endif %}
