{% extends 'template.html' %}

{% block head %}
<script src="{{ url_for('static', filename='scripts/Main.js') }} " type="module"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index_style.css') }}"/>
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a id="idClearWall" class="nav-item nav-link" style="cursor:pointer">Clear walls</a>
</li>
<li class="nav-item">
    <a id="idClearPath" class="nav-item nav-link" style="cursor:pointer">Clear path</a>
</li>
<li class="nav-item">
    <a id="idReset" class="nav-item nav-link" style="cursor: pointer">Clear all</a>
</li>
<li class="nav-item">
    <a id="idShowTutorial" class="nav-item nav-link" style="cursor: pointer">Tutorial</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if session.logged_in %}
        <a class="dropdown-item" id="idSave" style="cursor: pointer">Save current layout</a>
        <a class="dropdown-item" href="/stored">Load my layouts</a>
        {% else %}
        <a class="dropdown-item" style="cursor: pointer" href="{{ url_for('login') }}">Log in for more options</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="idSpeed">Speed: </a>
        <a class="slidecontainer">
            <input type="range" min="0" max="4" step="1" value="3" class="slider" id="idSlider">
        </a>
        <!-- <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
</li>
{% endblock %}

{% block body %}
<!-- How tho center:
    https://www.w3.org/Style/Examples/007/center.en.html-->
<div class="container">
    {% include 'includes/_messages.html' %}
</div>
<div class="pop-outer" id="idOuter">
    <div class="pop-inner">
        <h2 style="color: #58BC82; margin-top: 2%">Welcome!</h2>
        <button type="button" class="close" id="idBtnClose" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div id="idArrowLeft">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd"
                      d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </div>

        <div id="idArrowRight">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle"
                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
            </svg>
        </div>
        <div class="tutorial-body" id="idTutorialText">
            <h4 class="mb-3">This is a short tutorial that takes you through the different aspects and
                functionalities of this website.</h4>
            <h5>Let's get started by clicking on the right arrow!</h5>

        </div>


    </div>
</div>


<!-- <div class="pop-outer">
    <div class="pop-inner">
        <button class="close">X</button>
        <h2>What is Lorem Ipsum?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div> -->

<div class="d-flex flex-row">
    <input class="btn btn-primary mt-2 mr-2" type="button" value="Place start node"
           style="background-color: #58BC82; border-color: #58BC82" id="idStart">
    <input class="btn btn-primary mt-2 mr-2" type="button" value="Place target node"
           style="background-color: #EFA00B; border-color: #EFA00B" id="idTarget">
    <input class="btn btn-primary mt-2" type="button" style="background-color: #22AED1; border-color: #22AED1"
           value="Visualize !" id="idVisualize">
    <div class="ml-auto mt-2" style="height: 10px; margin-right: 85px">
        <div id="idAlert">
            <div class="alert alert-success" role="alert" hidden>
                This is a success alert—check it out!
            </div>
        </div>

    </div>
</div>

<ul class="list mt-2">
    <li><h5>Legend:</h5></li>
    <li><img src="/static/images/start.JPG" alt="" class="img_legend"></li>
    <li>Start node</li>
    <li><img src="/static/images/target.JPG" alt="" class="img_legend"></li>
    <li>Target node</li>
    <li><img src="/static/images/wall.JPG" alt="" class="img_legend"></li>
    <li>Wall nodes</li>
    <li><img src="/static/images/evaluated.JPG" alt="" class="img_legend"></li>
    <li>Evaluated nodes</li>
    <li><img src="/static/images/calculated.JPG" alt="" class="img_legend"></li>
    <li>Calculated path</li>
</ul>


<!-- <input class="btn btn-primary mt-2" type="button" value="Test" id="idTest"> -->
<!--<div class="d-flex flex-row" style="margin-left: 2.5%">
    <div class="p-2">Legend:</div>
    <div class="start-legend">Start</div>


    <img class="start" width="40" height="40" src="{{ url_for('static', filename='images/start.jpg') }} "></img>
    <div class="p-2">Start node</div>

    <div class="p-2">Flex item 3</div>
</div>-->
<canvas id="myCanvas" style="margin-right: 85px">
    Your browser does not support this element
</canvas>

{% endblock %}
