{% extends 'template.html' %}

{% block head %}
<script src="{{ url_for('static', filename='scripts/Main.js') }} " type="module"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index_style.css') }}"/>
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a id="idClearWall" class="nav-item nav-link" style="cursor:pointer">Clear walls</a>
</li>
<li class="nav-item">
    <a id="idClearPath" class="nav-item nav-link" style="cursor:pointer">Clear path</a>
</li>
<li class="nav-item">
    <a id="idReset" class="nav-item nav-link" style="cursor: pointer">Clear all</a>
</li>
<li class="nav-item">
    <a id="idShowTutorial" class="nav-item nav-link" style="cursor: pointer">Tutorial</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <a class="dropdown-item" id="idSave" style="cursor: pointer" {% if not session.logged_in %} hidden {% endif %}>Save
            current layout</a>
        <a class="dropdown-item" href="/stored" {% if not session.logged_in %} hidden {% endif %}>Load my layouts</a>
        <a class="dropdown-item" style="cursor: pointer" href="{{ url_for('login') }}" {% if session.logged_in %} hidden
           {% endif %}>Log in for more options</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="idSpeed">Speed: </a>
        <a class="slidecontainer">
            <input type="range" min="0" max="4" step="1" value="3" class="slider" id="idSliderSpeed">
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="idGridSize">Gridsize: </a>
        <a class="slidecontainer">
            <input type="range" min="20" max="50" step="1" value="30" class="slider" id="idSliderGridSize">
        </a>
        <!-- <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
</li>
{% endblock %}

{% block body %}
<!-- How tho center:
    https://www.w3.org/Style/Examples/007/center.en.html-->
<div class="popup" id="idPopup" hidden>
    <div class="popup-inner noselect">
        <h2 style="color: #58BC82; margin-top: 2%; font-size: 2rem">Welcome!</h2>
        <button type="button" class="close" id="idBtnClose" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div id="idArrowLeft">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd"
                      d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </div>

        <div id="idArrowRight">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle"
                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
            </svg>
        </div>
        <div class="popup-inner-body" id="idTutorialText">
            <div class="popuptext">
                <h4 class="mb-3">This is a short tutorial that takes you through the different aspects and
                    functionalities of this website.</h4>
                <h5>Let's get started by clicking on the right arrow!</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-7 mt-3">
            <input class="btn btn-primary mt-1" type="button" value="Place start node"
                   style="background-color: #58BC82; border-color: #58BC82" id="idStart">
            <input class="btn btn-primary mt-1" type="button" value="Place target node"
                   style="background-color: #EFA00B; border-color: #EFA00B" id="idTarget">
            <input class="btn btn-primary mt-1" type="button"
                   style="background-color: #22AED1; border-color: #22AED1"
                   value="Visualize !" id="idVisualize">
        </div>
        <div class="col-lg-5 mt-3">
            <div class="ml-auto mt-2" style="height: 10px; margin-right: 85px">
                <div id="idAlert" hidden>
                    <div class="alert alert-success" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <div>
                            This is a success alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 mt-2">
            <div class="legend mr-3"><h5>Legend:</h5></div>
            <div class="legend"><img src="/static/images/start.JPG" alt="" class="img_legend">
                <figcaption>Start node</figcaption>
            </div>
            <div class="legend"><img src="/static/images/target.JPG" alt="" class="img_legend">
                <figcaption>Target node</figcaption>
            </div>
            <div class="legend"><img src="/static/images/wall.JPG" alt="" class="img_legend">
                <figcaption>Wall nodes</figcaption>
            </div>
            <div class="legend"><img src="/static/images/evaluated.JPG" alt="" class="img_legend">
                <figcaption>Evaluated nodes</figcaption>
            </div>
            <div class="legend"><img src="/static/images/calculated.JPG" alt="" class="img_legend">
                <figcaption>Calculated path</figcaption>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <canvas id="myCanvas" width="100%" height="100%">
                Your browser does not support this element
            </canvas>
        </div>
    </div>
</div>
{% endblock %}
