#logo {
    margin-right: 50px;
}

#myCanvas {
    position: absolute;
    color: black;
}

.legend {
    vertical-align: middle;
    display: inline-block;
}

.btn-primary {
    font-size: 16px;
    margin-right: 10px;
}

.alert {
    font-size: 14px;
    display: inline-block;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    position: relative;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */

    appearance: none;
    /*width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    /* Position in center */
    margin: 10px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #58BC82; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #58BC82; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.img_legend {
    height: 20px;
    width: 20px;
    align-self: center;
    padding: 0 0 4px 4px;
}

.img_text {
    margin-right: 5px;
}

figcaption{
    display: inline-block;
    margin-right: 15px;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: .64s ease-in-out;
}

.popup-inner {
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    width: 50%;
    height: 70%;
    border: 2px solid #4A5954;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#idBtnClose {
    position: absolute;
    right: 2%;
    top: 2%;
}

.bi-arrow-left-circle {
    position: absolute; /* 2 */
    top: 50%;
    left: 2%;
    transform: translate(0%, -50%);
    cursor: pointer;
    color: #58BC82;
}

.bi-arrow-right-circle {
    color: #58BC82;
    right: 2%;
    position: absolute; /* 2 */
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.tutorial-body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    width: 80%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#container {
    position: fixed;
    width: 400px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
}

#containerRegister {
    position: fixed;
    width: 700px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -350px;
}

#idLogin {
    text-align: center;
}

#idBtnLogin, #idBtnRegister {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.help-inline {
    color: #fc6A03;
}
